.github-profile{
    margin:1rem;
    width: 10rem;
}

.imageCard{
    width: 85px ;
}

.info{
    display: inline-block;
    margin-left: 12px;
}

.name{
    font-size: 1.25rem;
    font-weight: bold;
}

